.nav-style {
    height: 50px;
    font-size: large;
    color: white;
    text-align: center;
    align-items: center;
    background-image: linear-gradient(to right, rgb(119, 75, 170), rgb(36, 0, 121));
}

.hr {
   
}

.form-input {
    width: 100%;
}

.forecast {
    width: 15%;
    padding: 10px;
    background-color: rgb(70, 29, 165);
    color: white;
}